# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
.*.xtc*
docs/examples/NTL9/
docs/examples/villin/
docs/examples/ntl9_data/
docs/examples/villin_data/
.env/
.env*/ 
env/
venv/
extra/
build/
.ipynb_checkpoints/
_build/

uv.lock

# OS
.DS_Store

# Jupyter
*.ipynb_checkpoints/
jupyter_execute/
