# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
.*.xtc*
docs/examples/NTL9/
docs/examples/villin/
.env/
.env*/ 
env/
venv/
extra/
build/
.ipynb_checkpoints/
docs/_build/

# OS
.DS_Store

# Jupyter
*.ipynb_checkpoints/
