/* #4C4CA6 #4C81FD #69FFDC #DCFF69 #F4914D #A64C4C */




/*sidebar links color */
.wy-menu-vertical a {
  color: #eeeeee;
}
/*sidebar links color when passing over */
.wy-menu-vertical a:hover {
  color: #CCFF00;
  background: transparent;
}
/*sidebar main titles */
.wy-menu-vertical .caption {
  color:#4C81FD !important;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.5rem 1rem 0.2rem;
  letter-spacing: 0.5px;
}
/*sidebar links color after clicking */
.wy-menu-vertical li.current > a {
  color: #CCFF00; /* Lime */
  font-weight: bold;
  background: #404040 !important;
}

.wy-nav-top .wy-nav-title {
  font-size: 1.6rem;
  font-weight: bold;
  color: #404040;
}

/* Sidebar top project name text */
.wy-side-nav-search a,
.wy-side-nav-search .icon-home {
  color: #404040 !important;  /* teal, or your preferred color */
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
}

/* Main page content links */
.wy-nav-content a {
  color: #4C81FD; /* teal — change to your brand color */
  text-decoration: none; /* optional: remove underline */
}

.wy-nav-content a:hover {
  color: #4C4CA6; /* lime highlight */
  text-decoration: underline;
}

.wy-nav-content a:visited {
  color: #4C4CA6; /* optional: soft purple for visited */
}

/* 1. Inline code blocks: ``like_this`` */
.rst-content code.literal,
.rst-content tt.literal {
    background-color: white;
    border: 1.5px solid #69FFDC; 
    color: black; 
    padding: 2px 6px;
    border-radius: 4px;
    font-family: monospace;
}
/* 2. Cross-reference roles (e.g. :confval:, :class:, :ref:) */
.rst-content code.xref,
.rst-content tt.xref {
    background-color: white;
    border: 3px solid #40404064; 
    color: #F4914D;
    padding: 2px 6px;
    border-radius: 4px;
    font-family: monospace;
    font-weight: normal;
    text-decoration: none;
}

/* Custom highlighted words using :mark:`...` */
.rst-content code.mark {
    background-color: white;
    border: 2px solid #F4914D;
    color: black;
    padding: 2px 6px;
    border-radius: 4px;
    font-family: monospace;
}
/*for ipynb*/
.rst-content span.mark code {
    background-color: white;
    border: 2px solid #F4914D;
    color: black;
    padding: 2px 6px;
    border-radius: 4px;
    font-family: monospace;
}

/* Python code blocks (highlighted with Pygments) */
div.highlight-python, div.highlight > pre {
  background-color: #ccff0014;  /* light background */
  border: 2px solid #CCFF00;
  padding: 0em;
  border-radius: 0px;
  overflow-x: auto;
}


/* === Base Admonition Styling === */
div.admonition {
  background-color: whitesmoke !important;     /* White body */
  border-left: 3px solid;         /* Cyan vertical bar */
  padding: 1em 1em 1em 1.25em;
  margin: 2em 0;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
/* Default colors */
.admonition.note { border-left-color: #6AB0DE; }         
.admonition.attention { border-left-color: #F0B37E; }       
.admonition.important { border-left-color: #1ABC9C; }

