name: documentation

on: [push, pull_request, workflow_dispatch]

# Required for Pages via Actions
permissions:
  contents: read
  pages: write
  id-token: write


jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
          
      - name: Run tests
        run: |
          uv run --group dev pytest
